/* font-family */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid--container {
  max-width: 980px;
  margin: auto;
}

header {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: 50px;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.4);
}
header .header--icons-container {
  width: 100%;
  padding: 10px 25px;
  background-color: #47cfac;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header--icons-container span {
  color: white;
}
header div {
  display: grid;
  justify-items: end;
  grid-template-columns: repeat(2, 1fr);
}
header div .logo--container a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header div .logo--container a img {
  width: 220px;
  margin: 0 100px 0 10px;
}
header div .profile--link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 45px;
}
header div .profile--link a {
  margin: 0 30px 0 10px;
  font-size: 1.2rem;
  font-family: "Roboto mono", monospace;
  border-bottom: 1px solid black;
}
header a {
  text-decoration: none;
  display: inline;
  color: black;
}

.home--main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-image: url("https://i.postimg.cc/zfNzhdQw/Cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 115px);
}
.home--main .main--container {
  display: grid;
  height: 420px;
  grid-column: 2;
  justify-items: center;
}
.home--main .main--container .home--main-title {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Roboto mono", monospace;
  margin-top: 70px;
  letter-spacing: 15px;
  text-align: center;
  color: white;
}
.home--main .main--container .main--button {
  display: inline-block;
  height: 35px;
  padding: 10px 20px;
  font-family: "Roboto mono", monospace;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  border-radius: 2px;
  box-shadow: inset 0px 0px 10px -2px #47cfac;
  border: 1px solid #47cfac;
  background-color: #47cfac;
}
.home--main .main--container .main--button:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
  background-color: #47cfac;
  color: white;
}

/* 
    pagina blogs
*/
.blogs--body {
  position: relative;
}

.blogs--main {
  width: 100%;
  height: auto;
}
.blogs--main .blogs--section-contain {
  padding: 40px 50px 40px 50px;
  background-color: #e6e9ed;
  box-shadow: inset 0px -29px 43px -32px rgba(0, 0, 0, 0.29);
}
.blogs--main .blogs--section-contain .blogs--contain-new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 20px;
  background-color: #e6e9ed;
}
.blogs--main .blogs--section-contain .blogs--contain-new .blogs--principal-img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3%;
}
.blogs--main .blogs--section-contain .blogs--contain-new .blogs--principal-img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}
.blogs--main .blogs--section-contain .blogs--contain-new .blogs--principal-text {
  padding: 20px;
}
.blogs--main .blogs--section-contain .blogs--contain-new .blogs--principal-text .blogs--title-section {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Roboto mono", monospace;
  margin-bottom: 20px;
}
.blogs--main .blogs--section-contain .blogs--contain-new .blogs--principal-text .blogs--parrafo-section {
  font-size: 1.2rem;
  font-family: "Roboto mono", monospace;
  text-align: justify;
  margin-bottom: 80px;
}
.blogs--main .blogs--section-contain .blogs--contain-new .blogs--principal-text .blogs--button-section {
  display: inline-block;
  height: 35px;
  padding: 10px 20px;
  font-family: "Roboto mono", monospace;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  border-radius: 2px;
  box-shadow: inset 0px 0px 10px -2px #47cfac;
  border: 1px solid #47cfac;
}
.blogs--main .blogs--section-contain .blogs--contain-new .blogs--principal-text .blogs--button-section:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
  background-color: #47cfac;
  color: white;
}
.blogs--main .blogs--contain-section {
  padding: 40px 50px 40px 50px;
}
.blogs--main .blogs--contain-section .blogs--title-main {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Roboto mono", monospace;
  margin-bottom: 20px;
}
.blogs--main .blogs--contain-section .blogs--principal-contain {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 25px;
}
.blogs--main .blogs--contain-section .blogs--principal-contain .img--contain {
  width: 100%;
  height: auto;
  border-radius: 7px;
}
.blogs--main .blogs--contain-section .blogs--principal-contain .img--contain:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}
.blogs--main .blogs--contain-section .blogs--principal-contain .blogs--title-article {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Roboto mono", monospace;
  font-size: 1.5rem;
  margin-top: 15px;
}
.blogs--main .blogs--contain-section .blogs--principal-contain .blogs--parrafo-article {
  font-size: 1.2rem;
  font-family: "Roboto mono", monospace;
  font-size: 1rem;
  font-weight: 100;
  text-align: justify;
  margin-top: 10px;
}
.blogs--main .blogs--contain-section .blogs--principal-contain .blogs--button {
  display: inline-block;
  height: 35px;
  padding: 10px 20px;
  font-family: "Roboto mono", monospace;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  border-radius: 2px;
  box-shadow: inset 0px 0px 10px -2px #47cfac;
  border: 1px solid #47cfac;
  margin-top: 15px;
  margin-left: 2px;
}
.blogs--main .blogs--contain-section .blogs--principal-contain .blogs--button:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
  background-color: #47cfac;
  color: white;
}

/* 
    footer
*/
footer {
  width: 100%;
  border-top: 20px solid #47cfac;
}
footer .blogs--footer-contenedor {
  width: 100%;
  height: 60%;
  background-color: #23262d;
}
footer .blogs--footer-contenedor .blogs--footer-parrafo {
  font-size: 1.2rem;
  font-family: "Roboto mono", monospace;
  padding: 10px;
  color: white;
  text-align: center;
}/*# sourceMappingURL=main.css.map */