/* font-family */
$font-family: 'Roboto mono', monospace;

@mixin title-stile{
    font-size: 1.7rem;
    font-weight: bold;
    font-family: $font-family;
}

@mixin parrafo-stile{
    font-size: 1.2rem;
    font-family: $font-family;
}

@mixin stile--button {
    display: inline-block;
    height: 35px;
    padding: 10px 20px;
    font-family: $font-family;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    box-shadow: inset 0px 0px 10px -2px #47cfac;
    border: 1px solid #47cfac;
    &:hover{
        transition: transform 0.5s ease;
        transform: scale(1.1);
        background-color: #47cfac;
        color: white;
    }
}

@mixin hr {
    border: none;
    height: 1px;
    background-color: #000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
}

body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid--container{
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 50px;
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.4);

    .header--icons-container {
        width: 100%;
        padding: 10px 25px;
        background-color: #47cfac;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span{
            color: white;
        }
    }

    div {
        display: grid;
        justify-items: end;
        grid-template-columns: repeat(2, 1fr);

        .logo--container{

            a {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                img {
                    width: 220px;
                    margin: 0 100px 0 10px;
                }
            }
        }

        .profile--link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 45px;
            
            a{
                margin: 0 30px 0 10px;
                font-size: 1.2rem;
                font-family: $font-family;
                border-bottom: 1px solid black;
            }
        }
    }

    a{
        text-decoration: none;
        display: inline;
        color: black;
    }
}

.home--main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-image: url('https://i.postimg.cc/zfNzhdQw/Cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 115px);

   .main--container {
        display: grid;
        height: 420px;
        grid-column: 2;
        justify-items: center;
        

        .home--main-title {
            @include title-stile;
            margin-top: 70px;
            letter-spacing: 15px;
            text-align: center;
            color: white;
        }

        .main--button {
            @include stile--button;
            background-color: #47cfac;
        }
    }

}

/* 
    pagina blogs
*/

.blogs--body{
    position: relative;
}

.blogs--main{
    width: 100%;
    height: auto;
    

    .blogs--section-contain {
        padding: 40px 50px 40px 50px;
        background-color: #e6e9ed;
        box-shadow: inset 0px -29px 43px -32px rgba(0,0,0,0.29);
        
        .blogs--contain-new {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            justify-items: center;
            align-items: center;
            gap: 20px;
            background-color: #e6e9ed;

            .blogs--principal-img{
                width: 100%;
                height: auto;
                object-fit: contain;
                border-radius: 3%;
                &:hover{
                    transition: transform 0.3s ease;
                    transform: scale(1.05);
                }
            }

            .blogs--principal-text {
                padding: 20px;

                .blogs--title-section{
                    @include title-stile;
                    margin-bottom: 20px;
                }

                .blogs--parrafo-section {
                    @include parrafo-stile;
                    text-align: justify;
                    margin-bottom: 80px;
                }

                .blogs--button-section{
                    @include stile--button;                
                }
            }
        }
    }

    .blogs--contain-section{
        padding: 40px 50px 40px 50px;

        .blogs--title-main{
            @include title-stile;
            margin-bottom: 20px;
        }

        .blogs--principal-contain{
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            gap: 25px;

            .img--contain {
                width: 100%;
                height: auto;
                border-radius: 7px;
                &:hover{
                    transition: transform 0.3s ease;
                    transform: scale(1.05);
                }
            }

            .blogs--title-article{
                @include title-stile;
                font-size: 1.5rem;
                margin-top: 15px;
            }

            .blogs--parrafo-article {
                @include parrafo-stile;
                font-size: 1rem;
                font-weight: 100;
                text-align: justify;
                margin-top: 10px;
            }

            .blogs--button{
                @include stile--button;
                margin-top: 15px;
                margin-left: 2px;
            }
        }
    }

}

/* 
    pagina de blog
*/

    .blogpost{
        width: 100%;
        height: auto;

        .blogpost--img-container{
            padding: 50px 25px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .blogpost--main-container{
            padding: 0 50px 40px;

            .grid--container{

                h3 {
                    @include title-stile;
                    font-size: 1.5rem;
                    padding: 20px 1px;
                    border-bottom: 1px solid #cdd2da;
                }

                article {

                    h1{
                        @include title-stile;
                        padding: 20px 3px;
                    }

                    p {
                        @include parrafo-stile;
                        text-align: justify;
                        padding: 0px 10px;
                    }
                }
            }
        }
        
        .contact-main-container{
            width: 100%;
            height: 20vh;
            padding: 20px 40px;
            background-color: #e6e9ed;
            
            .grid--container-article{
                display: grid;
                grid-template-columns: repeat(4, 120px);
                grid-template-rows: repeat(2, 30px);
                justify-items: end;
                justify-content: center;
                gap: 10px;
                grid-template-areas: 
                "uno dos tres cuatro"
                "uno dos tres cuatro";
            }
            
            .img-left{
                grid-area: uno;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .contact-left{
                grid-area: dos;
                margin-top: 10px;

                a{
                    @include parrafo-stile;
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: black;
                }

                p {
                    @include parrafo-stile;
                    font-size: 1rem;
                    margin-top: 10px;
                    
                }
            }

            .img-right{
                grid-area: tres;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .contact-right{
                grid-area: cuatro;
                margin-top: 10px;

                a{
                    @include parrafo-stile;
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: black;
                }

                p {
                    @include parrafo-stile;
                    font-size: 1rem;
                    margin-top: 10px;
                    
                }
            }
        }

    }

/* 
    footer
*/

footer {
    width: 100%;
    border-top: 20px solid #47cfac;

    .blogs--footer-contenedor{
        width: 100%;
        height: 60%;
        background-color: #23262d;

        .blogs--footer-parrafo{
            @include parrafo-stile;
            padding: 10px;
            color: white;
            text-align: center;
        }
    }
}